<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="handleBack()">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  <ion-label>
    <ion-title>API</ion-title>
  </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let photo of photos" [routerLink]="['/places', photo.id]">
      <ion-avatar>
        <ion-img  [src]="photo.url" alt="photo"></ion-img>
      </ion-avatar>

      <ion-card-content>{{photo.title}}</ion-card-content>
    </ion-item>
  </ion-list>

</ion-content>
